.item{
  margin-bottom: 32px;
}

.product{
  display: flex;
}

.product__content{
  display: flex;
  flex: 1;
}

.product__image{
  border-radius: 48px;
  flex: 0 0 48px;
  height: 48px;
  overflow: hidden;
  margin-right: 12px;
  width: 48px;
}

.product__name{
  font-weight: bold;
}

.product__price{
  opacity: 0.5;
}

.product__quantity{
  align-items: center;
  display: flex;
  margin: 8px 0 0;
  padding-left: 60px;
}

.spicyLevel{
  opacity: 0.5;
  margin: 4px 0;
}

.product__delete{
  background-color: rgba(255, 40, 40, 0.1);
  border-radius: 8px;
  color: rgb(255, 40, 40);
  align-items: center;
  height: 32px;
  justify-content: center;
  line-height: 1em;
  margin-left: 16px;
  padding-top: 4px;
  width: 32px;
}

.subtotal{
  text-align: right;
}