.nav__link{
  align-items: center;
  border-radius: 16px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  height: 56px;
  opacity: 0.5;
  width: 56px;
}

.nav__link:hover{
  color: var(--primary);
  opacity: 1;
}

.active .nav__link{
  background-color: var(--primary);
  color: var(--background);
  opacity: 1;
}

.active .nav__link:hover{
  color: var(--background);
}