@tailwind base;

@import "~@flaticon/flaticon-uicons/css/all/all";

* {
  box-sizing: border-box;
}

:root {
  --primary: 0,200,255;
  --foreground: 24, 22, 34;
  --foreground-light: 96, 98, 105;
  --surface: 255, 255, 255;
  --background: 244, 245, 247;
  --success: 76, 175, 80;
  --info: 3, 169, 244;
  --warning: 255, 152, 0;
  --error: 239, 83, 80;
  --border: rgb(224, 225, 227);
  --border-light: rgb(240, 242, 244);
}

::-webkit-scrollbar {
  display: none;
}

.Toastify__toast-theme--dark{
  background-color: rgb(var(--surface))!important;
}

@media ( prefers-color-scheme: dark ) {
  :root {
    --foreground: 208, 209, 211;
    --background: 16, 18, 28;
    --surface: 22, 24, 34;
    --surface-light: 28, 32, 42;
    --border: rgb(51, 50, 62);
    --border-light: rgb(36, 34, 46);
  }

  .table__header, .table__footer, table th{
    background-color: rgba(0, 0, 0, 0.16)!important;
  }
}

html::-webkit-scrollbar {
  display: none;
}

*:disabled{
  opacity: 0.5;
  pointer-events: none;
}

.disabled{
  pointer-events: none;
}

i{
  height: 1em;
  line-height: 1em;
}

input, select, textarea{
  padding: 8px 0;
  border-radius: 6px;
  display: block;
  flex: 1;
  background: transparent;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

textarea{
  height: 120px;
}

select option{
  background: rgb(var(--background));
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible{
  background: transparent;
  outline: 0;
  transition: all 0s ease;
}

input:-webkit-autofill{
  font-family: 'Inter';
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 50px 50px rgb(var(--background));
  -webkit-text-fill-color: rgb(var(--foreground));
}

.link{
  color: rgb(var(--primary));
}

.text-center{
  text-align: center;
}

.search-box{
  align-items: center;
  display: flex;
  gap: 8px;
}

.table__wrapper{
  border: 1px solid var(--border);
  border-radius: 8px;
  overflow-x: auto;
  max-width: 100%;
}

table{
  width: 100%;
}

table th{
  background-color: rgb(var(--surface));
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid var(--border);
}

table thead tr th:first-child{
  border-radius: 8px 0 0 8px;
}

table thead tr th:last-child{
  border-radius: 0 8px 8px 0;
}

table th{
  padding: 24px 12px;
}

table tr th:first-child{
  padding: 24px;
  width: 50px;
}

table tr td:first-child{
  padding: 12px 24px;
  width: 50px;
}

table td{
  background-color: rgb(var(--surface));
  border-bottom: 1px solid var(--border-light);
  padding: 12px;
}

table tr:hover td{
  background-color: rgb(var(--background));
}

table tr:last-child td{
  border-bottom: none;
}


.table__flex{
  align-items: center;
  display: flex;
  gap: 12px;
}

.table__flex img{
  flex: 0 0 40px;
  width: 40px;
}

.table__flex span{
  flex: 1;
}

.table__flex i{
  font-size: 18px;
}

.table__sorting{
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.table__sorting i{
  font-size: 14px;
  color: rgb(var(--primary));
}

.table__sorting .sort-all{
  color: rgb(var(--foreground));
  font-size: 12px;
  opacity: 0.5;
}

.table__sorting:hover i,
.table__sorting:hover .sort-all{
  color: rgb(var(--primary));
  opacity: 1;
}

.table__image{
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  aspect-ratio: 1/1;
  border-radius: 100px;
  height: 40px;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  width: 40px;
}

.table__header{
  background-color: rgb(var(--surface));
  align-items: center;
  border-bottom: 1px solid var(--border);
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
}

.table__footer{
  background-color: rgb(var(--surface));
  border-top: 2px solid var(--border);
  padding: 16px 24px;
}

.table__info{
  align-items: center;
  display: flex;
  gap: 24px;
}

.table__actions{
  justify-content: flex-end;
}

.table__status{
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 4px;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 4px 6px 4px 18px;
  position: relative;
  text-transform: uppercase;
  width: auto;
}

.table__status:before{
  background-color: var(--border);
  border-radius: 3px;
  content: '';
  height: 5px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 5px;
}

.table__status.received:before{
  background-color: rgb(var(--warning));
}

.table__status.in-preparation:before{
  background-color: rgb(var(--info));
}

.table__status.ready:before{
  background-color: rgb(var(--success));
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  scrollbar-gutter: stable;
}

.pattern{
  height: 100vh;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.orders{
  display: flex;
  justify-content: space-between;
}

.orders__content{
  flex: 1;
  padding: 0 352px 32px 144px;
}

.orders__header{
  align-items: center;
  display: flex;
  height: 112px;
}

.orders__header__title{
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 4px;
}

.category__title{
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
}

.product__list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 4fr)); 
  grid-gap: 32px;
  text-align: center;
  width: 100%; 
}

.product__item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__item__image{
  align-items: center;
  background-color: var(--border-light);
  border-radius: 128px;
  display: flex;
  height: 128px;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto -84px;
  position: relative;
  width: 128px;
  z-index: 2;
}

.product__item__image img{
  height: 128px;
  object-fit: cover;
  width: 128px;
}

.product__item__image i{
  color: rgba(255,255,255,0.4);
  font-size: 32px;
}

.product__item__caption{
  background-color: rgb(var(--surface));
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 100px 32px 32px;
}

.product__item__title{
  font-weight: 600;
  font-size: 1.125em;
  line-height: 1.4em;
}

.product__item__price{
  margin: 8px 0 16px;
}

.product__item__spicy-level{
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 8px;
  display: flex;
  margin: 8px 0 16px;
}

.product__item__spicy-level li{
  border-left: 1px solid var(--border);
  flex: 1;
  text-align: center;
}

.product__item__spicy-level li:first-child{
  border-left: none;
}

.product__item__spicy-level li button{
  padding: 8px 16px;
  width: 100%;
}

.product__item__spicy-level li button:hover{
  color: rgb(var(--primary));
}

.product__item__spicy-level li.selected button{
  background-color: rgba(0, 200, 255, 0.1);
  color: rgb(var(--primary));
  font-weight: 600;
  width: 100%;
}



/* Kitchen */

.kitchen__logo{
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}

.kitchen__content{
  display: flex;
}

.kitchen__title{
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.kitchen__in-preparation{
  background-color: rgb(var(--surface));
  border-right: 1px solid var(--border);
  height: 100vh;
  overflow-y: auto;
  padding: 16px;
  width: 280px;
}

.kitchen__received{
  flex: 1;
  padding: 16px;
  width: calc(100vw - 312px);
}

.kitchen__received .kitchen__list{
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  max-width: 100%;
}

.kitchen__received .received{
  border-top: 4px solid rgb(var(--warning));
}

.kitchen__in-preparation .inPreparation{
  background-color: rgb(var(--background));
  border-top: 4px solid rgb(var(--success));
}

.ready-order{
  background-color: rgb(var(--background));
  border-radius: 8px;
  box-shadow: 2px 0 24px rgba(0, 0, 0, 0.3);
  max-width: 320px;
  padding: 24px;
  position: fixed;
  right: 16px;
  top: 16px;
  z-index: 999999;
}

.ready-order__content{
  align-items: flex-start;
  display: flex;
  gap: 12px;
}

.ready-order__icon{
  background-color: rgb(var(--success));
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex: 0 0 48px;
  font-size: 24px;
  line-height: 1em;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.ready-order__title{
  color: rgb(var(--success));
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25em;
}

.ready-order__summary{
  margin: 8px 0;
}

.ready-order__summary span span{
  opacity: 0.6;
}







.admin__wrapper{
  padding: 88px 32px 32px 272px;
}

.admin__header{
  align-items: center;
  display: flex;
  gap: 32px;
  height: 88px;
  left: 240px;
  padding: 16px 32px;
  position: absolute;
  right: 0;
  top: 0;
}

.admin__header * {
  width: auto;
}

.admin__title{
  font-size: 1.5em;
  font-weight: 600;
}



.row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  padding: 16px;
}

.row-form {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  padding: 16px;
}

[class*="col-form-"] {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
  width: 100%;
  padding: 12px;
}

.col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
.col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }

.col-form-1 { flex: 0 0 8.33%; max-width: 8.33%; }
.col-form-2 { flex: 0 0 16.66%; max-width: 16.66%; }
.col-form-3 { flex: 0 0 25%; max-width: 25%; }
.col-form-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.col-form-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.col-form-6 { flex: 0 0 50%; max-width: 50%; }
.col-form-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.col-form-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.col-form-9 { flex: 0 0 75%; max-width: 75%; }
.col-form-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-form-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-form-12 { flex: 0 0 100%; max-width: 100%; }


.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card{
  background-color: rgb(var(--surface));
  border-radius: 8px;
  display: block;
  padding: 24px;
  position: relative;
}

.card.summary{
  display: flex;
  flex-direction: column;
}

.card-summary__header{
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.card__title{
  font-size: 1.25em;
}

.card__icon{
  align-items: center;
  background-color: rgba(var(--info), 0.12);
  color: rgb(var(--info));
  border-radius: 8px;
  display: flex;
  font-size: 1.25em;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  width: 48px;
}

.card__image{
  align-items: center;
  background-color: rgba(var(--info), 0.12);
  color: rgb(var(--info));
  border-radius: 8px;
  display: flex;
  font-size: 1.25em;
  height: 64px;
  justify-content: center;
  overflow: hidden;
  width: 64px;
}

.card__image img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.products .card__icon{
  background-color: rgba(var(--success), 0.12);
  color: rgb(var(--success));
}

.categories .card__icon{
  background-color: rgba(var(--error), 0.12);
  color: rgb(var(--error));
}

.users .card__icon{
  background-color: rgba(var(--warning), 0.12);
  color: rgb(var(--warning));
}

.orders .card__icon{
  background-color: rgba(var(--primary), 0.12);
  color: rgb(var(--primary));
}

.card__label{
}

.card__count{
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  margin-top: -16px;
}

.card-data__title{
  font-size: 1.25em;
  font-weight: 600;
  margin: 24px 0 16px;
}

.card-data__count{
  color: rgb(var(--foreground-light));
}

.card__actions{
  position: absolute;
  right: 8px;
  top: 16px;
}

.card__actions button{
  color: rgb(var(--foreground-light));
}

.card__actions__list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__actions__list li button, .card__actions__list li a{
  display: block;
}






.pagination{
  display: flex;
  justify-content: center;
}

.pagination__list{
  align-items: center;
  display: flex;
}

.pagination__list li{
  text-align: center;
}

.pagination__list li a,
.pagination__list li button{
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
}

.pagination__list li:hover a,
.pagination__list li:hover button{
  color: rgb(var(--primary));
}

.pagination__list li.active a,
.pagination__list li.active button{
  background-color: rgba(var(--primary), 0.1);
  color: rgb(var(--primary));
  pointer-events: none;
  padding: 8px;
}

.pagination__arrow i{
  font-size: 10px;
}






.form{
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.block__body{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.block__body__content{
  padding: 32px;
}

.block__body__content.isPage{
  border-top: 1px solid var(--border);
  bottom: 112px;
  overflow-y: auto;
  position: absolute;
  top: 36px;
  width: 100%;
}

.form__columns{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.form__column,
.form__group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  flex: 1;
}

.form__group{
  border: 2px solid var(--border-light);
  border-radius: 8px;
  padding: 16px;
}

.form__column__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -8px;
}

.form__title{
  flex: 1;
  font-size: 1.25em;
  font-weight: bold;
}

.form__item{
  flex: 1;
}

.fi3{
  flex: 0 0 25%;
}

.fi4{
  flex: 0 0 33.33%;
}

.fi6{
  flex: 0 0 50%;
}

.fi12{
  flex: 0 0 100%;
}

.form__item.acceptance{
  font-size: 12px;
  line-height: 1.75em;
  opacity: 0.6;
  margin: -12px 0 12px;
}

.form__options{
  display: block;
  padding: 0;
}

.form__options__row{
  border-bottom: 1px solid var(--border);
  margin-bottom: 32px;
  padding-bottom: 32px;
}

.form__options__row:last-child{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form__options__header{
  margin-bottom: 32px;
}

.form__options__content{
  display: flex;
  gap: 24px;
}

.form__options__name{
  flex: 1;
}

.form__options__list{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.form__options__item{
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.form__options__footer{
  margin-top: 8px;
}

.form__options__null {
  align-items: center;
  color: rgb(var(--foreground-light));
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.form__options__null i{
  font-size: 1.25em;
}

.block__footer{
  align-items: center;
  border-top: 1px solid var(--border);
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding: 32px;
}

.caption{
  background-color: rgba(0,0,0,0.75);
  border-radius: 4px;
  bottom: 12px;
  font-size: 12px;
  left: 12px;
  line-height: 1em;
  padding: 6px 8px;
  position: absolute;
  text-transform: uppercase;
}

.caption.success{
  color: rgb(var(--primary));
}

.uploading{
  align-items: center;
	background-color: rgba(var(--surface), 0.85);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 3;
}

.uploading.active{
  opacity: 1;
  visibility: visible;
}

.isSubmitting{	
	background-color: rgba(var(--surface), 0.85);
	align-items: center;
	display: flex;
  height: 100%;
	justify-content: center;
	right: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease;
	width: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
}

.isSubmitting.active{
	opacity: 1;
	visibility: visible;
}

.upload-image{
  aspect-ratio: 1/1;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.upload-image img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}

.column-image{
  flex: 1;
}

.column-product{
  flex-direction: row;
  flex: 3;
}

.upload-image__actions{
  background-color: rgba(var(--background), 0.75);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 24px;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.upload-image:hover .upload-image__actions{
  opacity: 1;
  visibility: visible;
}

.upload-image__null{
  align-items: center;
  aspect-ratio: 1/1;
  background-color: rgba(var(--primary), 0.12);
  color: rgba(255,255,255,0.4);
  display: flex;
  font-size: 32px;
  justify-content: center;
  width: 100%;
}

.react-tabs{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.react-tabs__tab-list{
  align-items: center;
  color: rgb(var(--foreground-light));
  display: flex;
  font-size: 1.125em;
  padding: 0 32px;
  gap: 32px;
}

.react-tabs__tab{
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding-bottom: 12px;
}

.react-tabs__tab:hover{
  color: #fff;
}

.react-tabs__tab--selected{
  border-bottom: 1px solid #fff;
  color: #fff;
}

.react-tabs__tab-panel--selected{
  z-index: 1;
}

/* .react-tabs:after{
  background: linear-gradient(0deg, rgba(var(--background),1) 0, rgba(var(--background),0) 100%);
  bottom: 112px;
  content: '';
  height: 160px;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 9;
} */



.confirm{
  padding: 32px;
  text-align: center;
}

.confirm__title{
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 1em;
}

.confirm__buttons{
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 2em;
}

.confirm__buttons button{
  min-width: 120px;
}



@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}





.auth{
  display: flex;
}

.auth__title{
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
  text-align: center;
}

.auth__image{
  flex: 0 0 50%;
  height: 100vh;
}

.auth__content{
  align-items: center;
  background-color: rgb(var(--background));
  border-left: 1px solid var(--border);
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  overflow-y: auto;
  padding: 80px;
}

.auth__main-content{
  flex: 1;
  max-width: 400px;
}

.auth__remember-reset{
  display: flex;
  justify-content: space-between;
}

.auth__footer{
  margin-top: 24px;
}

.send-email{
  text-align: center;
}

.send-email__icon{
  font-size: 3em;
}

.send-email__main{
  display: inline-block;
  font-size: 1.25em;
  font-weight: 600;
}

.send-email__text{
  font-size: 12px;
  opacity: 0.6;
}

.popover {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}