.button {
  background-color: var(--border-light);
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  line-height: 1em;
  gap: 8px;
  padding: 1em 1.2em;
  transition: all 0.3s ease;
}

.button:hover,
.button.active{
}

.iconOnly:hover,
.iconOnly.active{
  background-color: rgb(var(--surface-light));
}

.button i {
  font-size: 16px;
}

.large {
  font-size: 1.125em;
}

.small {
  font-size: 12px;
  padding: 0.8em 1em;
  width: auto;
}

.withoutBg {
  background-color: transparent;
  color: inherit;
  padding: 0;
}

.primary {
  background-color: rgb(var(--primary));
}

.primary.ghost {
  background-color: rgba(var(--primary), 0.1);
  color: rgb(var(--primary));
}

.success{
  background-color: rgba(var(--success), 0.1);
}

.success.ghost {
  background-color: rgba(var(--success), 0.1);
  color: rgb(var(--success));
}

.info{
  background-color: rgb(var(--info));
}

.info.ghost {
  background-color: rgba(var(--info), 0.1);
  color: rgb(var(--info));
}

.warning{
  background-color: rgb(var(--warning));
}

.warning.ghost {
  background-color: rgba(var(--warning), 0.1);
  color: rgb(var(--warning));
}

.error{
  background-color: rgb(var(--error));
}

.error.ghost {
  background-color: rgba(var(--error), 0.1);
  color: rgb(var(--error));
}

.full {
  width: 100%;
}

.iconOnly{
  border-radius: 100px;
  height: 40px;
  flex: 0 0 40px;
  padding: 0;
  width: 40px;
}

.iconOnly.small{
  flex: 0 0 32px;
  height: 32px;
  width: 32px;
}

.iconOnly.large{
  flex: 0 0 48px;
  height: 48px;
  width: 48px;
}