.checkbox {
}

.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox label {
  align-items: center;
  display: flex;
  cursor: pointer;
  position: relative;
}

.checkbox label:before {
  border-radius: 4px;
  content:'';
  background-color: transparent;
  border: 2px solid var(--border);
  height: 22px;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  width: 22px;
}

.checkbox input:checked + label:before {
  background-color: rgb(var(--primary));
  border: 2px solid rgb(var(--primary));
}

.checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}