.content{
    align-items: center;
    display: flex;
    gap: 8px;
}

.button {
  align-items: center;
  background-color: rgba(0,200,255, 0.1);
  border-radius: 8px;
  color: var(--primary);
  line-height: 1em;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px 0 0;
  width: 32px;
}

.button:disabled i {
  opacity: 0.3;
}

.counter{
    text-align: center;
    min-width: 24px;
}