.wrappper{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.wrappper.active{
  pointer-events: inherit;
}

.content{
  background-color: rgb(var(--background));
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: relative;
  overflow: hidden;
  bottom: -20px;
	animation: back 0.3s cubic-bezier(0.77, 0, 0.175, 1) 1;
  z-index: 99999;
  width: 480px;
}

.isPage .content{
  border-radius: 16px 0 0;
  bottom: auto;
  margin-top: 24px;
	animation: backPage 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1;
  right: -100%;
}

.small .content{
  width: 320px;
}

.large .content{
  width: 640px;
}

.active .content{
  opacity: 1;
  bottom: 0;
	animation: go 0.3s cubic-bezier(0.77, 0, 0.175, 1) 1;
}

.active.isPage .content{
  opacity: 1;
  bottom: auto;
	animation: goPage 0.3s cubic-bezier(0.77, 0, 0.175, 1) 1;
}

.close{
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 9;
}

.background{
  background-color: rgba(255, 255, 255, 0.75);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
	animation: backOpacity 0.3s ease-in 1;
  
}

.active .background{
  opacity: 1;
	animation: goOpacity 0.3s ease-in 1;
}

@media ( prefers-color-scheme: dark ) {
  .background{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header{
  align-items: center;
  border-bottom: 1px solid var(--border);
  display: flex;
  gap: 16px;
  padding: 32px;
}

.title{
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2em;
}

.body{
  flex: 1;
}

@keyframes go {
	0% {
    opacity: 0;
    bottom: -20px;
	}

	100% {
    opacity: 1;
    bottom: 0;
	}
}

@keyframes back {
	0% {
    opacity: 1;
    bottom: 0;
	}

	100% {
    opacity: 0;
    bottom: 20px;
	}
}

@keyframes goPage {
	0% {
    right: -100%;
	}

	100% {
    right: 0;
	}
}

@keyframes backPage {
	0% {
    right: 0;
	}

	100% {
    right: -100%;
	}
}

@keyframes goOpacity {
	0% {
    opacity: 0;
	}

	100% {
    opacity: 1;
	}
}

@keyframes backOpacity {
	0% {
    opacity: 1;
	}

	100% {
    opacity: 0;
	}
}