.control{
    position: relative;
}

.label{
    color: rgba(var(--foreground), 0.5);
    pointer-events: none;
    left: 16px;
    line-height: 1em;
    padding: 0 6px;
    position: absolute;
    top: 22px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

.field{
    border: 2px solid var(--border);
    padding: 16px 20px;
    width: 100%;
    transition: all 0.3s ease;
}

.field option{
    padding: 8px 16px;
}

.isActive .label,
.isFilled .label{
    background-color: rgb(var(--background));
    color: rgba(var(--foreground), 0.75);
    font-size: 12px;
    top: -5px;
}

.isSelect .label{
    background-color: rgb(var(--background));
    color: rgba(var(--foreground), 0.75);
    font-size: 12px;
    top: -5px;
}

.field::placeholder{
    color: rgba(var(--foreground), 0);
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

.isActive .field,
.field:hover{
    border-color: rgb(var(--primary));
}

.isActive .field::placeholder{
    color: rgba(var(--foreground), 0.3);
}

.isError .field{
    border: 2px solid rgb(var(--error));
    color: rgb(var(--error));
}

.isError .label{
    color: rgb(var(--error));
}

.isError .field:focus-visible{
    color: rgb(var(--error));
    transition: all 0s ease;
}

.errors{
    color: rgb(var(--error));
    display: block;
    font-size: 12px;
    left: 0;
    margin-top: 6px;
    text-align: left;
    width: 100%;
}

.isError .field option{
    color: var(--gray);
}